@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

.first-head {
  border-bottom: 1px solid #d9d7f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first-head .logo-filter {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.first-head .logo-filter a:link,
.first-head .logo-filter a:visited {
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 2.5rem;
  color: black;
}
.first-head .logo-filter a:link span,
.first-head .logo-filter a:visited span {
  color: #6741d9;
  font-weight: 700;
}
.first-head .logo-filter .filter {
  display: flex;
  flex-direction: column;
}
.first-head .logo-filter .filter select {
  background-color: white;
  border: none;
  font-size: 1.4rem;
}
.first-head .profile {
  border-left: 1px solid #d9d7f1;
  padding: 0 0.8rem;
}
.first-head .profile img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: 2px solid grey;
}

.last-head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.last-head a:link,
.last-head a:visited {
  padding: 1rem;
  font-size: 1.4rem;
  text-decoration: none;
  background-color: #5f3dc4;
  color: white;
}
.last-head a:hover,
.last-head a:active {
  background-color: #7c51fc;
}

.qa-section {
  display: grid;
  grid-template-columns: 1fr 23rem;
  align-items: center;
  justify-content: center;
}
.qa-section .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-image: url(/img/forum.jpg);
  background-size: cover;
  height: 50rem;
  width: 70rem;
}
.qa-section .hero-text h1 {
  font-size: 3rem;
  font-weight: 100;
}
.qa-section .hero-text a:link,
.qa-section .hero-text a:visited {
  padding: 1rem;
  font-size: 1.4rem;
  text-decoration: none;
  background-color: #e9ecef;
  color: #495057;
  font-weight: 600;
}
.qa-section .hero-text a:hover,
.qa-section .hero-text a:active {
  color: #5f3dc4;
}
.qa-section .popular {
  height: 100vh;
  background-color: #f1f3f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  border-radius: 1rem;
  border: 1px solid #5f3dc4;
}
.qa-section .popular p {
  font-size: 2rem;
  margin-top: 2rem;
  font-weight: 600;
  color: #3a3e42;
}
.qa-section .popular .top-users a:link,
.qa-section .popular .top-users a:visited {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.qa-section .popular .top-users a:link .pro-cont,
.qa-section .popular .top-users a:visited .pro-cont {
  display: grid;
  grid-template-columns: 5rem 1fr;
  align-items: center;
}
.qa-section .popular .top-users a:link .pro-cont img,
.qa-section .popular .top-users a:visited .pro-cont img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 2px solid grey;
}
.qa-section .popular .top-users a:link .pro-cont .name,
.qa-section .popular .top-users a:visited .pro-cont .name {
  font-size: 1.6rem;
  font-weight: 500;
  color: #3a3e42;
}
.qa-section .popular .top-users a:link .pro-cont .role,
.qa-section .popular .top-users a:visited .pro-cont .role {
  grid-column: 2/-1;
  font-size: 1.2rem;
  color: #5f3dc4;
  margin: 0;
} /*# sourceMappingURL=algonetHome.css.map */
